body {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

#hosam-avatar {
  width: 20svb;
  height: 20svb;
  object-fit: cover;
  object-position: 100% 0;
  border-radius: 50%;
  outline: 4px dashed teal;
  outline-offset: 4px;
  animation: smoothen-outline 2s infinite alternate-reverse;
}

p {
  text-align: center;
}

@keyframes smoothen-outline {
  0% {
    outline: 4px dotted teal;
  }
  50% {
    outline: 4px dashed teal;
  }
  100% {
    outline: 4px solid teal;
  }
}
