---
title: "معامل باقي القسمة"
author: "Hosam Hamdy"
description: "مقدمة قصيرة لمعامل باقي القسمة في جافاسكريبت"
date: 2021-04-07T19:20:51+02:00
tags: 
  - "جافا سكريبت"
  - "مقدمة"
  - "برمجة"
  - "معامل باقي القسمة"
published: true
lang: 'ar'
---

# {title}
هذه تدوينتي الأولى في هذه المدونة.